* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

}

.tubo {
    position: absolute;
    bottom: 0;
    width: 65px;
    right: -80px;
    left: 240px;
    /*animation: tubo-animation 4s infinite linear;8*/
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
    left: 129px;
   
}

.jump {
    animation:  jump 500ms  ease-out;
}

@keyframes tubo-animation {
    from {
        right: -80px;


    }   
    to {
        right: 100%;

    }
}

@keyframes jump {

    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }
    
    50% {
            bottom: 180px;
    }

    60% {
        bottom: 180px;
}
   
    100% {
        bottom: 0;
    }
}

